html,
body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #222;
    font-family: sans-serif;
}
#compass {
    position: fixed;
    top: calc((100vh - 95vmin) / 2);
    left: calc((100vw - 95vmin) / 2);
    width: 95vmin;
    height: 95vmin;
    box-sizing: border-box;
    padding: 0px;
    background: url("./Compass.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#needle{
    position: fixed;
    top: calc((100vh - 95vmin) / 2);
    left: calc((100vw - 95vmin) / 2);
    text-align: center;
    line-height: 95vmin;
    width: 95vmin;
    height: 95vmin;
    color: white;
    font-size: 48px;
    background: url("./needle.png");
    background-size: contain;
    background-repeat: no-repeat;
}